<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <staticContent>
			<mimeMap fileExtension=".unityweb" mimeType="application/octet-stream" />
				<mimeMap fileExtension=".asherlinkdata" mimeType="application/octet-stream" />
					<mimeMap fileExtension=".manifest" mimeType="application/octet-stream" />
			            <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
							<mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
